<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>

  <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
</head>

<body class="terminal">

  <header class="admin-header">
    <a href="https://linuxbcn.com">LinuxBCN.com</a>
    · <strong>Estadístiques de Bratia</strong>

    <nav>
      <a href="/admin/">← Admin home</a>
      <a href="/">Go to site</a>
    </nav>
  </header>

  <main class="admin-terminal">
    {{ block "main" . }}{{ .Content }}{{ end }}
  </main>

</body>
</html>