<div class="lang-switcher {{ .class }}">
  {{ $currentPage := . }}
  {{ range site.Languages }}
    {{ $lang := .Lang }}
    {{ $url := "" }}
    {{ range $currentPage.Page.Translations }}
      {{ if eq .Lang $lang }}
        {{ $url = .Permalink }}
      {{ end }}
    {{ end }}
    {{ if eq $url "" }}
      {{ $url = printf "%s%s/" site.BaseURL $lang }}
    {{ end }}
    <a href="{{ $url }}"
       data-lang="{{ $lang }}"
       class="{{ if eq $lang $currentPage.Page.Lang }}active{{ end }}">
      {{ upper $lang }}
    </a>
  {{ end }}
</div>