{{/* layouts/shortcodes/disc.html */}}
{{ $id := .Get "id" }}
{{ $disc := index site.Data.discs $id }}

<div class="disc">

  <div class="disc-cover">
    <img src="/images/discs/{{ $disc.cover }}" alt="{{ $disc.title }}">
  </div>

  <div class="disc-content">
    <h2>{{ $disc.title }}</h2>

    <p>{{ $disc.description }}</p>
    <p>{{ $disc.text }}</p>

    {{ if $disc.credits }}
      <p class="credits">{{ $disc.credits }}</p>
    {{ end }}

    {{ if $disc.urls }}
    <div class="music-links">
      {{ range $platform, $link := $disc.urls }}
        {{/* Exemple: partials/icons/spotify.html */}}
        <a href="{{ $link }}" target="_blank" title="Escolta {{ $disc.title }} a {{ $platform }}">
          {{ partial (printf "icons/%s.html" $platform) . }}
        </a>
      {{ end }}
    </div>
    {{ end }}

  </div>

</div>